# Ignorar todo por defecto
*

# No ignorar estos archivos y carpetas
!main.py
!requirements.txt
!README.md
!detecciones/
!evaluaciones/
!fonts/
!server.py
!.gitignore
!.dockerignore
!Dockerfile
!static/
!index.html

# Ignorar el contenido dentro de las carpetas, pero no las carpetas en sí
detecciones/*
evaluaciones/*
fonts/*

# No ignorar el contenido dentro de las carpetas especificadas
!detecciones/**
!evaluaciones/**
!fonts/**
